# Géré par le rôle Ansible "springboot" - NE PAS MODIFIER MANUELLEMENT
JAVA_OPTS={{ springboot_java_opts }}
SPRING_PROFILES_ACTIVE={{ springboot_spring_profiles_active }}
SPRING_DATASOURCE_URL={{ springboot_datasource_url }}
SPRING_DATASOURCE_USERNAME={{ springboot_datasource_username }}
SPRING_DATASOURCE_PASSWORD={{ springboot_datasource_password }}
