<!doctype html>
<html lang="fr">
<head><meta charset="utf-8"><title>{{ inventory_hostname }}</title></head>
<body>
  <h1>Instance Apache : {{ inventory_hostname }}</h1>
  <p>Port : {{ apache_port }}</p>
  <p>Instance : {{ apache_instance }}</p>
</body>
</html>
